body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #333;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0;
}

form {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid #333;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

section {
    text-align: center;
    margin: 20px 0;
}

section button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

section button:hover {
    background-color: #45a049;
}